body, html {
  height: 100%;
  margin: 0;
}

.bg {
  background-image: url("./media/TCRMC_Lobby-Night-Shot.jpg");
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width : 992px) {
  .offcanvas {
    visibility      : visible;
    position        : relative;
    background      : none;
    border          : none;
    justify-content : end;
    color           : gray;
  }
}

@media (max-width : 992px) {
  .offcanvas {
    width : 250px !important;
  }
  .offcanvas-start-lg {
    top          : 0;
    left         : 0;
    transform    : translateX(-100%);
    z-index: 1;
  }
}

a.nav-link:hover {
  background: rgb(64, 64, 64);
  color: white;
  transition: 0.5s all linear;
}

a.nav-link:active {
  color: white !important;
  font-weight: bold;
}

.closebtn {
  position: relative;
  float: right;
  color: white;
  font-size: xx-large;
  text-decoration: none;
}